<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ch1_calc</th>
      <th>ch1result</th>
      <th>ch2_calc</th>
      <th>ch2result</th>
      <th>ch3_calc</th>
      <th>ch3result</th>
      <th>ch4_calc</th>
      <th>ch4result</th>
      <th>ch5_calc</th>
      <th>ch5result</th>
      <th>ch6_calc</th>
      <th>ch6result</th>
      <th>ch7_calc</th>
      <th>ch7result</th>
      <th>ch8_calc</th>
      <th>ch8result</th>
      <th>ch9_calc</th>
      <th>ch9result</th>
      <th>ch10_calc</th>
      <th>ch10result</th>
      <th>ch11_calc</th>
      <th>ch11result</th>
      <th>ch12_calc</th>
      <th>ch12result</th>
      <th>ch13_calc</th>
      <th>ch13result</th>
      <th>ch14_calc</th>
      <th>ch14result</th>
      <th>ch15_calc</th>
      <th>ch15result</th>
      <th>ch16_calc</th>
      <th>ch16result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>56</th>
      <td>69502.45</td>
      <td>Pass</td>
      <td>69715.05</td>
      <td>Pass</td>
      <td>69482.20</td>
      <td>Pass</td>
      <td>70046.00</td>
      <td>Pass</td>
      <td>70066.55</td>
      <td>Pass</td>
      <td>69856.40</td>
      <td>Pass</td>
      <td>70207.25</td>
      <td>Pass</td>
      <td>70324.20</td>
      <td>Pass</td>
      <td>70333.55</td>
      <td>Pass</td>
      <td>70153.35</td>
      <td>Pass</td>
      <td>70295.25</td>
      <td>Pass</td>
      <td>70080.05</td>
      <td>Pass</td>
      <td>70549.85</td>
      <td>Pass</td>
      <td>70633.90</td>
      <td>Pass</td>
      <td>70479.05</td>
      <td>Pass</td>
      <td>70475.00</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>57</th>
      <td>70096.45</td>
      <td>Pass</td>
      <td>70303.85</td>
      <td>Pass</td>
      <td>70125.30</td>
      <td>Pass</td>
      <td>70649.10</td>
      <td>Pass</td>
      <td>70676.60</td>
      <td>Pass</td>
      <td>70532.50</td>
      <td>Pass</td>
      <td>70852.60</td>
      <td>Pass</td>
      <td>70959.40</td>
      <td>Pass</td>
      <td>70959.50</td>
      <td>Pass</td>
      <td>70799.55</td>
      <td>Pass</td>
      <td>70924.35</td>
      <td>Pass</td>
      <td>70751.40</td>
      <td>Pass</td>
      <td>71154.25</td>
      <td>Pass</td>
      <td>71240.85</td>
      <td>Pass</td>
      <td>71111.75</td>
      <td>Pass</td>
      <td>71125.80</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>58</th>
      <td>69241.80</td>
      <td>Pass</td>
      <td>69459.20</td>
      <td>Pass</td>
      <td>69224.75</td>
      <td>Pass</td>
      <td>69804.40</td>
      <td>Pass</td>
      <td>69829.90</td>
      <td>Pass</td>
      <td>69646.95</td>
      <td>Pass</td>
      <td>70026.15</td>
      <td>Pass</td>
      <td>70119.10</td>
      <td>Pass</td>
      <td>70138.20</td>
      <td>Pass</td>
      <td>70121.65</td>
      <td>Pass</td>
      <td>70270.90</td>
      <td>Pass</td>
      <td>70019.05</td>
      <td>Pass</td>
      <td>70558.10</td>
      <td>Pass</td>
      <td>70667.25</td>
      <td>Pass</td>
      <td>70523.35</td>
      <td>Pass</td>
      <td>70553.30</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>59</th>
      <td>69717.30</td>
      <td>Pass</td>
      <td>69911.35</td>
      <td>Pass</td>
      <td>69722.15</td>
      <td>Pass</td>
      <td>70280.50</td>
      <td>Pass</td>
      <td>70302.00</td>
      <td>Pass</td>
      <td>70144.75</td>
      <td>Pass</td>
      <td>70503.60</td>
      <td>Pass</td>
      <td>70617.00</td>
      <td>Pass</td>
      <td>70643.50</td>
      <td>Pass</td>
      <td>70476.50</td>
      <td>Pass</td>
      <td>70600.20</td>
      <td>Pass</td>
      <td>70405.45</td>
      <td>Pass</td>
      <td>70856.25</td>
      <td>Pass</td>
      <td>70941.25</td>
      <td>Pass</td>
      <td>70813.15</td>
      <td>Pass</td>
      <td>70808.10</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>60</th>
      <td>69294.60</td>
      <td>Pass</td>
      <td>69484.25</td>
      <td>Pass</td>
      <td>69262.55</td>
      <td>Pass</td>
      <td>69848.40</td>
      <td>Pass</td>
      <td>69875.15</td>
      <td>Pass</td>
      <td>69639.60</td>
      <td>Pass</td>
      <td>70019.30</td>
      <td>Pass</td>
      <td>70116.35</td>
      <td>Pass</td>
      <td>70138.25</td>
      <td>Pass</td>
      <td>69913.50</td>
      <td>Pass</td>
      <td>70068.90</td>
      <td>Pass</td>
      <td>69840.70</td>
      <td>Pass</td>
      <td>70337.00</td>
      <td>Pass</td>
      <td>70396.65</td>
      <td>Pass</td>
      <td>70261.20</td>
      <td>Pass</td>
      <td>70262.55</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>61</th>
      <td>69699.05</td>
      <td>Pass</td>
      <td>69890.85</td>
      <td>Pass</td>
      <td>69703.70</td>
      <td>Pass</td>
      <td>70243.30</td>
      <td>Pass</td>
      <td>70288.45</td>
      <td>Pass</td>
      <td>70100.75</td>
      <td>Pass</td>
      <td>70460.75</td>
      <td>Pass</td>
      <td>70549.55</td>
      <td>Pass</td>
      <td>70559.50</td>
      <td>Pass</td>
      <td>70386.05</td>
      <td>Pass</td>
      <td>70518.45</td>
      <td>Pass</td>
      <td>70307.10</td>
      <td>Pass</td>
      <td>70737.95</td>
      <td>Pass</td>
      <td>70816.05</td>
      <td>Pass</td>
      <td>70676.35</td>
      <td>Pass</td>
      <td>70681.30</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>62</th>
      <td>71190.10</td>
      <td>Pass</td>
      <td>71371.75</td>
      <td>Pass</td>
      <td>71253.75</td>
      <td>Pass</td>
      <td>71671.00</td>
      <td>Pass</td>
      <td>71693.20</td>
      <td>Pass</td>
      <td>71572.75</td>
      <td>Pass</td>
      <td>71816.10</td>
      <td>Pass</td>
      <td>71917.90</td>
      <td>Pass</td>
      <td>71908.40</td>
      <td>Pass</td>
      <td>71802.75</td>
      <td>Pass</td>
      <td>71910.80</td>
      <td>Pass</td>
      <td>71770.95</td>
      <td>Pass</td>
      <td>72097.90</td>
      <td>Pass</td>
      <td>72175.30</td>
      <td>Pass</td>
      <td>72081.25</td>
      <td>Pass</td>
      <td>72074.25</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>63</th>
      <td>71582.85</td>
      <td>Pass</td>
      <td>72031.05</td>
      <td>Pass</td>
      <td>71904.40</td>
      <td>Pass</td>
      <td>72294.70</td>
      <td>Pass</td>
      <td>72304.40</td>
      <td>Pass</td>
      <td>72154.65</td>
      <td>Pass</td>
      <td>72416.05</td>
      <td>Pass</td>
      <td>72483.35</td>
      <td>Pass</td>
      <td>72151.85</td>
      <td>Pass</td>
      <td>72091.70</td>
      <td>Pass</td>
      <td>72217.55</td>
      <td>Pass</td>
      <td>72103.45</td>
      <td>Pass</td>
      <td>72410.90</td>
      <td>Pass</td>
      <td>72511.40</td>
      <td>Pass</td>
      <td>72451.75</td>
      <td>Pass</td>
      <td>72466.15</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>64</th>
      <td>72102.70</td>
      <td>Pass</td>
      <td>72253.00</td>
      <td>Pass</td>
      <td>72165.30</td>
      <td>Pass</td>
      <td>72486.35</td>
      <td>Pass</td>
      <td>72530.15</td>
      <td>Pass</td>
      <td>72459.95</td>
      <td>Pass</td>
      <td>72652.40</td>
      <td>Pass</td>
      <td>72719.20</td>
      <td>Pass</td>
      <td>72730.00</td>
      <td>Pass</td>
      <td>72653.00</td>
      <td>Pass</td>
      <td>72730.20</td>
      <td>Pass</td>
      <td>72632.05</td>
      <td>Pass</td>
      <td>72863.20</td>
      <td>Pass</td>
      <td>72929.25</td>
      <td>Pass</td>
      <td>72888.25</td>
      <td>Pass</td>
      <td>72892.65</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>65</th>
      <td>71873.85</td>
      <td>Pass</td>
      <td>72009.70</td>
      <td>Pass</td>
      <td>71891.15</td>
      <td>Pass</td>
      <td>72245.15</td>
      <td>Pass</td>
      <td>72289.85</td>
      <td>Pass</td>
      <td>72200.25</td>
      <td>Pass</td>
      <td>72410.95</td>
      <td>Pass</td>
      <td>72477.85</td>
      <td>Pass</td>
      <td>72475.45</td>
      <td>Pass</td>
      <td>72407.60</td>
      <td>Pass</td>
      <td>72496.50</td>
      <td>Pass</td>
      <td>72376.30</td>
      <td>Pass</td>
      <td>72636.40</td>
      <td>Pass</td>
      <td>72710.05</td>
      <td>Pass</td>
      <td>72645.20</td>
      <td>Pass</td>
      <td>72654.90</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>66</th>
      <td>71513.30</td>
      <td>Pass</td>
      <td>71680.35</td>
      <td>Pass</td>
      <td>71587.70</td>
      <td>Pass</td>
      <td>71944.90</td>
      <td>Pass</td>
      <td>71989.95</td>
      <td>Pass</td>
      <td>71898.10</td>
      <td>Pass</td>
      <td>72131.95</td>
      <td>Pass</td>
      <td>72216.80</td>
      <td>Pass</td>
      <td>72247.55</td>
      <td>Pass</td>
      <td>72155.05</td>
      <td>Pass</td>
      <td>72249.20</td>
      <td>Pass</td>
      <td>72136.10</td>
      <td>Pass</td>
      <td>72422.40</td>
      <td>Pass</td>
      <td>72499.90</td>
      <td>Pass</td>
      <td>72419.60</td>
      <td>Pass</td>
      <td>72432.25</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>67</th>
      <td>70725.80</td>
      <td>Pass</td>
      <td>70927.20</td>
      <td>Pass</td>
      <td>70779.85</td>
      <td>Pass</td>
      <td>71217.10</td>
      <td>Pass</td>
      <td>71253.55</td>
      <td>Pass</td>
      <td>71142.10</td>
      <td>Pass</td>
      <td>71407.75</td>
      <td>Pass</td>
      <td>71497.50</td>
      <td>Pass</td>
      <td>71508.90</td>
      <td>Pass</td>
      <td>71394.00</td>
      <td>Pass</td>
      <td>71510.50</td>
      <td>Pass</td>
      <td>71349.80</td>
      <td>Pass</td>
      <td>71691.90</td>
      <td>Pass</td>
      <td>72006.40</td>
      <td>Pass</td>
      <td>71677.85</td>
      <td>Pass</td>
      <td>71683.75</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>68</th>
      <td>70248.20</td>
      <td>Pass</td>
      <td>70467.25</td>
      <td>Pass</td>
      <td>70277.60</td>
      <td>Pass</td>
      <td>70784.25</td>
      <td>Pass</td>
      <td>70826.60</td>
      <td>Pass</td>
      <td>70646.00</td>
      <td>Pass</td>
      <td>70984.65</td>
      <td>Pass</td>
      <td>71069.35</td>
      <td>Pass</td>
      <td>71070.55</td>
      <td>Pass</td>
      <td>70915.85</td>
      <td>Pass</td>
      <td>71037.30</td>
      <td>Pass</td>
      <td>70853.40</td>
      <td>Pass</td>
      <td>71255.35</td>
      <td>Pass</td>
      <td>71329.50</td>
      <td>Pass</td>
      <td>71226.85</td>
      <td>Pass</td>
      <td>71225.40</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>69</th>
      <td>70915.35</td>
      <td>Pass</td>
      <td>71112.60</td>
      <td>Pass</td>
      <td>70982.95</td>
      <td>Pass</td>
      <td>71441.10</td>
      <td>Pass</td>
      <td>71486.10</td>
      <td>Pass</td>
      <td>71360.60</td>
      <td>Pass</td>
      <td>71631.80</td>
      <td>Pass</td>
      <td>71717.20</td>
      <td>Pass</td>
      <td>71740.40</td>
      <td>Pass</td>
      <td>71644.90</td>
      <td>Pass</td>
      <td>71751.80</td>
      <td>Pass</td>
      <td>71583.20</td>
      <td>Pass</td>
      <td>71914.65</td>
      <td>Pass</td>
      <td>72011.45</td>
      <td>Pass</td>
      <td>71936.70</td>
      <td>Pass</td>
      <td>71933.70</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>70</th>
      <td>69448.45</td>
      <td>Pass</td>
      <td>69668.50</td>
      <td>Pass</td>
      <td>69455.60</td>
      <td>Pass</td>
      <td>70032.90</td>
      <td>Pass</td>
      <td>70053.90</td>
      <td>Pass</td>
      <td>69878.55</td>
      <td>Pass</td>
      <td>70260.50</td>
      <td>Pass</td>
      <td>70353.40</td>
      <td>Pass</td>
      <td>70370.10</td>
      <td>Pass</td>
      <td>70201.50</td>
      <td>Pass</td>
      <td>70343.20</td>
      <td>Pass</td>
      <td>70131.60</td>
      <td>Pass</td>
      <td>70608.75</td>
      <td>Pass</td>
      <td>70684.90</td>
      <td>Pass</td>
      <td>70529.30</td>
      <td>Pass</td>
      <td>70545.95</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>71</th>
      <td>68702.35</td>
      <td>Pass</td>
      <td>68906.15</td>
      <td>Pass</td>
      <td>68641.75</td>
      <td>Pass</td>
      <td>69277.90</td>
      <td>Pass</td>
      <td>69296.30</td>
      <td>Pass</td>
      <td>69052.70</td>
      <td>Pass</td>
      <td>69452.25</td>
      <td>Pass</td>
      <td>69555.10</td>
      <td>Pass</td>
      <td>69592.90</td>
      <td>Pass</td>
      <td>69348.15</td>
      <td>Pass</td>
      <td>69487.90</td>
      <td>Pass</td>
      <td>69218.35</td>
      <td>Pass</td>
      <td>69751.75</td>
      <td>Pass</td>
      <td>69835.70</td>
      <td>Pass</td>
      <td>69659.95</td>
      <td>Pass</td>
      <td>69659.10</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>72</th>
      <td>69454.70</td>
      <td>Pass</td>
      <td>69658.80</td>
      <td>Pass</td>
      <td>69473.15</td>
      <td>Pass</td>
      <td>70056.70</td>
      <td>Pass</td>
      <td>70089.40</td>
      <td>Pass</td>
      <td>69894.00</td>
      <td>Pass</td>
      <td>70267.40</td>
      <td>Pass</td>
      <td>70365.20</td>
      <td>Pass</td>
      <td>70379.95</td>
      <td>Pass</td>
      <td>70201.25</td>
      <td>Pass</td>
      <td>70331.00</td>
      <td>Pass</td>
      <td>70140.00</td>
      <td>Pass</td>
      <td>70609.20</td>
      <td>Pass</td>
      <td>70671.70</td>
      <td>Pass</td>
      <td>70541.45</td>
      <td>Pass</td>
      <td>70534.30</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>73</th>
      <td>70082.05</td>
      <td>Pass</td>
      <td>70288.45</td>
      <td>Pass</td>
      <td>70110.50</td>
      <td>Pass</td>
      <td>70603.00</td>
      <td>Pass</td>
      <td>70629.35</td>
      <td>Pass</td>
      <td>70479.75</td>
      <td>Pass</td>
      <td>70806.85</td>
      <td>Pass</td>
      <td>70903.75</td>
      <td>Pass</td>
      <td>71157.45</td>
      <td>Pass</td>
      <td>70735.30</td>
      <td>Pass</td>
      <td>70861.40</td>
      <td>Pass</td>
      <td>70657.00</td>
      <td>Pass</td>
      <td>71088.90</td>
      <td>Pass</td>
      <td>71165.70</td>
      <td>Pass</td>
      <td>71035.05</td>
      <td>Pass</td>
      <td>71055.60</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>74</th>
      <td>69959.15</td>
      <td>Pass</td>
      <td>70171.10</td>
      <td>Pass</td>
      <td>69967.40</td>
      <td>Pass</td>
      <td>70512.85</td>
      <td>Pass</td>
      <td>70548.35</td>
      <td>Pass</td>
      <td>70392.10</td>
      <td>Pass</td>
      <td>70724.50</td>
      <td>Pass</td>
      <td>70823.30</td>
      <td>Pass</td>
      <td>70833.55</td>
      <td>Pass</td>
      <td>70665.15</td>
      <td>Pass</td>
      <td>70791.70</td>
      <td>Pass</td>
      <td>70601.00</td>
      <td>Pass</td>
      <td>71029.45</td>
      <td>Pass</td>
      <td>71112.70</td>
      <td>Pass</td>
      <td>70983.95</td>
      <td>Pass</td>
      <td>70989.00</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>75</th>
      <td>67825.85</td>
      <td>Pass</td>
      <td>68056.00</td>
      <td>Pass</td>
      <td>67791.00</td>
      <td>Pass</td>
      <td>68512.15</td>
      <td>Pass</td>
      <td>68570.80</td>
      <td>Pass</td>
      <td>68312.25</td>
      <td>Pass</td>
      <td>68786.75</td>
      <td>Pass</td>
      <td>68903.55</td>
      <td>Pass</td>
      <td>68939.05</td>
      <td>Pass</td>
      <td>68682.90</td>
      <td>Pass</td>
      <td>68847.85</td>
      <td>Pass</td>
      <td>68569.25</td>
      <td>Pass</td>
      <td>69178.25</td>
      <td>Pass</td>
      <td>69241.75</td>
      <td>Pass</td>
      <td>69064.90</td>
      <td>Pass</td>
      <td>69045.45</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>76</th>
      <td>68053.00</td>
      <td>Pass</td>
      <td>68273.15</td>
      <td>Pass</td>
      <td>68005.35</td>
      <td>Pass</td>
      <td>68700.65</td>
      <td>Pass</td>
      <td>68735.55</td>
      <td>Pass</td>
      <td>68468.35</td>
      <td>Pass</td>
      <td>68939.40</td>
      <td>Pass</td>
      <td>69060.40</td>
      <td>Pass</td>
      <td>69104.20</td>
      <td>Pass</td>
      <td>68815.60</td>
      <td>Pass</td>
      <td>68977.00</td>
      <td>Pass</td>
      <td>68720.05</td>
      <td>Pass</td>
      <td>69306.10</td>
      <td>Pass</td>
      <td>69369.10</td>
      <td>Pass</td>
      <td>69181.90</td>
      <td>Pass</td>
      <td>69160.65</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>77</th>
      <td>69555.15</td>
      <td>Pass</td>
      <td>69760.40</td>
      <td>Pass</td>
      <td>69547.30</td>
      <td>Pass</td>
      <td>70106.30</td>
      <td>Pass</td>
      <td>70142.20</td>
      <td>Pass</td>
      <td>69962.95</td>
      <td>Pass</td>
      <td>70328.85</td>
      <td>Pass</td>
      <td>70419.10</td>
      <td>Pass</td>
      <td>70437.80</td>
      <td>Pass</td>
      <td>70247.85</td>
      <td>Pass</td>
      <td>70387.25</td>
      <td>Pass</td>
      <td>70167.85</td>
      <td>Pass</td>
      <td>70639.80</td>
      <td>Pass</td>
      <td>70704.50</td>
      <td>Pass</td>
      <td>70554.70</td>
      <td>Pass</td>
      <td>70546.65</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>78</th>
      <td>69391.70</td>
      <td>Pass</td>
      <td>69609.05</td>
      <td>Pass</td>
      <td>69380.45</td>
      <td>Pass</td>
      <td>69952.45</td>
      <td>Pass</td>
      <td>69991.25</td>
      <td>Pass</td>
      <td>69801.70</td>
      <td>Pass</td>
      <td>70190.35</td>
      <td>Pass</td>
      <td>70291.85</td>
      <td>Pass</td>
      <td>70310.80</td>
      <td>Pass</td>
      <td>70129.10</td>
      <td>Pass</td>
      <td>70267.50</td>
      <td>Pass</td>
      <td>70070.20</td>
      <td>Pass</td>
      <td>70543.80</td>
      <td>Pass</td>
      <td>70645.90</td>
      <td>Pass</td>
      <td>70478.35</td>
      <td>Pass</td>
      <td>70485.80</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>79</th>
      <td>70900.05</td>
      <td>Pass</td>
      <td>71086.25</td>
      <td>Pass</td>
      <td>70947.25</td>
      <td>Pass</td>
      <td>71377.45</td>
      <td>Pass</td>
      <td>71420.95</td>
      <td>Pass</td>
      <td>71293.30</td>
      <td>Pass</td>
      <td>71555.50</td>
      <td>Pass</td>
      <td>71654.35</td>
      <td>Pass</td>
      <td>71659.60</td>
      <td>Pass</td>
      <td>71553.45</td>
      <td>Pass</td>
      <td>71661.70</td>
      <td>Pass</td>
      <td>71512.60</td>
      <td>Pass</td>
      <td>71863.70</td>
      <td>Pass</td>
      <td>71946.10</td>
      <td>Pass</td>
      <td>71856.40</td>
      <td>Pass</td>
      <td>71863.95</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>80</th>
      <td>70081.65</td>
      <td>Pass</td>
      <td>70271.90</td>
      <td>Pass</td>
      <td>70077.20</td>
      <td>Pass</td>
      <td>70610.20</td>
      <td>Pass</td>
      <td>70647.90</td>
      <td>Pass</td>
      <td>70466.50</td>
      <td>Pass</td>
      <td>70805.40</td>
      <td>Pass</td>
      <td>70901.55</td>
      <td>Pass</td>
      <td>70910.10</td>
      <td>Pass</td>
      <td>70782.55</td>
      <td>Pass</td>
      <td>70912.15</td>
      <td>Pass</td>
      <td>70734.05</td>
      <td>Pass</td>
      <td>71156.10</td>
      <td>Pass</td>
      <td>71255.45</td>
      <td>Pass</td>
      <td>71112.80</td>
      <td>Pass</td>
      <td>71125.65</td>
      <td>Pass</td>
    </tr>
    <tr>
      <th>81</th>
      <td>71243.65</td>
      <td>Pass</td>
      <td>71429.50</td>
      <td>Pass</td>
      <td>71276.35</td>
      <td>Pass</td>
      <td>71694.25</td>
      <td>Pass</td>
      <td>71713.20</td>
      <td>Pass</td>
      <td>71611.50</td>
      <td>Pass</td>
      <td>71867.85</td>
      <td>Pass</td>
      <td>71940.90</td>
      <td>Pass</td>
      <td>71947.80</td>
      <td>Pass</td>
      <td>71841.80</td>
      <td>Pass</td>
      <td>71951.20</td>
      <td>Pass</td>
      <td>71799.65</td>
      <td>Pass</td>
      <td>72112.50</td>
      <td>Pass</td>
      <td>72194.80</td>
      <td>Pass</td>
      <td>72114.40</td>
      <td>Pass</td>
      <td>72115.35</td>
      <td>Pass</td>
    </tr>
  </tbody>
</table>